@import url('../../../public/css/themes');

.details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* background-color: #eeeff3; */
  background-color: var(--background-color);
  min-height: 100vh;
}

.details-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 20px;
  margin: 100px;
  margin-right: 0px;
}

.details-image {
  width: 350px;
  height: 550px;
  background-position: center;
  background-size: contain;
}

.details-info {
  margin-bottom: 20px;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.details-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.details-url {
  /* color: #007bff; */
  color: var(--text-color);
  font-size: 1rem;
}

.details-container .details-description p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 1.1em;
}

.details-description {
  padding: 20px;
  letter-spacing: 1.5;
  margin: 10px 15px 20px;
  /* color: #333; */
  color: var(--text-color);
  font-size: 15px;
  overflow-wrap: anywhere;
  background-color: #a3d8d770;
  columns: 200px 2;
  column-gap: 30px;
}

.desc-info {
  column-span: all;
  display: block;
}