@import url('../../../public/css/themes');
.home-page {
    background-image: url("/img/kobu-agency-ipARHaxETRk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: white; */
    color: var(--text-color);
}

.home-title {
    color: #353a46;
}

.books-link {
    font-size: 22px;
    padding: 10px 35px;
    background-color: rgb(10, 145, 82);
    /* background-color: var(--background-color); */
    /* color: #d9dfeb; */
    color: var(--text-color);
    letter-spacing: 1.5px;
    margin-top: 20px;
    text-decoration: none;
}