@import url('../../../public/css/themes');

footer>p {
    /* color: white; */
    color: var(--text-color);
    font-size: 20px;
    letter-spacing: 1.5px;
    /* background-color: #2db583; */
    background-color: var(--footer-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}